body {
    background-image: url("img2.jpg");
    background-size: cover;
}


#header {
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: black;
  font-weight: bold;
  font-size: 120px;
  margin-top: 30px;
  margin-bottom: 0;
  font-family: 'Passions Conflict'
}

h2 {
  color: black;
  font-size: 50px;
  margin-top: 0;
  font-weight: 100;
}

#open i {
  border: none;

}
