body {
    background-image: url("img2.jpg");
    background-size: cover;   
    font-family: 'Shadows Into Light', cursive;
}

/* #heading {
    width: 600px;
    height: 170px;
    background-color: #073b4c;
    border-radius: 25px;
    margin: auto;
} */


h1 {
    color: black;
    font-weight: bold;
    font-size: 120px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 20px;
    padding-bottom: 0;
    box-sizing: content-box;
}

h2 {
    color: black;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    margin-top: 0;
    padding-bottom: 2px;
    padding-top: 0;
    }

button {
    position: fixed;
}